/* App.css or your dedicated CSS file */

/* 1.  Dark Mode Variables */
:root {
  --color-bg: #f0f1f1;
  --color-text: #3f403c;
  --color-main: #a98eb5;
  --color-accent-light: #f47972;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #3f403c; /* Switch for dark mode */
    --color-text: #f0f1f1;
  }
}

/* 2. Navbar Customization  */
.brand {
  color: var(--color-accent-light); /* Accent for brand */
  text-decoration: none; /* Remove underline */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Arial", sans-serif; /* Example font */
}

/* Target ALL links, including those within the navbar */
a {
  color: var(--color-text);
  text-decoration: none;
}

nav.container ul li a:hover {
  color: var(--color-accent-light);
}
